extends  ../../_part/_baseShell

block head
	include ../../_part/_header

block top
	include ../../_part/_top

block main
	.mui-container-fluid
		include story1.html

		style.
			.wall {
				display: flex;
				flex-wrap: wrap;
			}

		.wall
			x-vid#rmpArc(zid='rmpArc', bitrate1='//cdn-484996.c.cdn77.org/asites/arc.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

			x-vid#rmpLab(zid='rmpLab', bitrate1='//cdn-484996.c.cdn77.org/asites/lab.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

			x-vid#rmpChair(zid='rmpChair', bitrate1='//cdn-484996.c.cdn77.org/asites/chair.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

			x-vid#rmpTravel(zid='rmpTravel', bitrate1='//cdn-484996.c.cdn77.org/asites/travel.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

			x-vid#rmpShi(zid='rmpShi', bitrate1='//cdn-484996.c.cdn77.org/asites/shi.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

			x-vid#rmpTweet(zid='rmpTweet', bitrate1='//cdn-484996.c.cdn77.org/asites/tweet.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

			x-vid#rmpChild(zid='rmpChild', bitrate1='//cdn-484996.c.cdn77.org/asites/child.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

			x-vid#rmpVw2(zid='rmpVw2', bitrate1='//cdn-484996.c.cdn77.org/asites/vw2.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

			x-vid#rmpPress(zid='rmpPress', bitrate1='//cdn-484996.c.cdn77.org/asites/press.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

	hr
	.mui-container-fluid
		a.muut(href='https://muut.com/i/masons/comments', type='dynamic') Comments

	script(src='//cdn.muut.com/1/moot.min.js')

	script.
		function initVL() {
			riot.compile(function(){ // make component, and wait for it
				console.log('x-vic')
				var comps = riot.mount('x-vid')
			})//r
		}//()
		
		A.onLoaded(initVL)


block footer
	include ../../_part/_footer