doctype html
html(lang='en')
	head
		block head

	body

		#ss1
			block top
			link( href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic&lang=en')

			#content-wrapper
				block main

		block footer
