
extends  ../../_part/_shellA-base
block head

block content

	p
	.mui-container-fluid

		home-card(ref='/post/app-shell/', img='/post/SPA/shell.png', headline='App-Shell')

		home-card(ref='/post/asites/', img='/post/asites/arc.jpg', headline='Sites I like')

		home-card(ref='/post/comp/', img='/post/comp/web-comp.png', headline='Web Components')

		home-card(ref='/post/dBind/', img='/post/dBind/layout.png', headline='Data Binding a List')

		home-card(ref='/post/mserv/', img='/post/mserv/rest_test.png', headline='Fetch a micro service')

		home-card(ref='/post/IDE/', img='/post/IDE/DaaS.png', headline='IDE')

		home-card(ref='/post/seo/', img='/post/seo/setup.png', headline='SEO')

		home-card(ref='/post/SPA/', img='/post/SPA/SPA.png', headline='SPA')

		home-card(ref='/post/useAd/', img='/post/useAd/chick.png', headline='Ad')

		home-card(ref='/post/vwall/', img='/post/vwall/players.png', headline='Video Wall')

		home-card(ref='/post/amp/', img='/post/amp/amp.jpg', headline='AMP')

	p
	script.
		function init() {
			riot.compile(function(){ // make component, and wait for it
				var comps = riot.mount('home-card')
			})//compile
		}
		init()

block footer
	include  ../../_part/_footer
