
extends  ../../_part/_shellA-base

block content
	include story2.html

	#users
		input.search(placeholder='Search')
		button.sort(data-sort='name') Sort

		ul.list

	script.
		var options = {
			valueNames: [ 'name', 'born' ],
			item: '<li><h3 class="name"></h3><p class="born"></p></li>'
		};

		var values = [
			{
				name: 'Jonny Strömberg',
				born: 1986
			},
			{
				name: 'Jonas Arnklint',
				born: 1985
			},
			{
				name: 'Martina Elm',
				born: 1986
			}
		];

		function init() {
			console.log('i db')
			var userList = new List('users', options, values)
		}
		if(_loaded) init()
		else {
				_act.addOnce(function(arg1, arg2) {
					init()
					return false
				})
			}

block footer
	include  ../../_part/_footer
