
extends  ../../_part/_baseShellA
block head
	include ../../_part/_headerA

block main
	.mui-container-fluid
		style.
			img {
				width: 75%;
			}
		include story1.html

		
block footer
	include  ../../_part/_footerA
