
nav#appbar.mui-container-fluid.mui--no-user-select
	table(width='100%')
		tr
			td
				a.navigation(href='#sidedrawer') ☰ &nbsp;
					span.mui--hidden-xs Massons-Foundation.org
			td.mui--text-right
				ul#menu.mui-list--inline
					li.mui--hidden-xs
						a(href='/home/feed/') Feed
					li
						a(href='/home/fts/') Search
					li &nbsp;

#sidedrawer
	nav#sidenav.mui--no-user-select
		h2
			#sidedrawer-brand.mui--text-title ☰ &nbsp; Massons
		.mui-divider
		ul.mui-list--unstyled#sidenavstrong
			li
				a(href='/home/feed/') Feed
			li
				a(href='/home/fts/') Search
