extends  ../../_part/_baseShellA
block head

block main
	style.
		img {
			width: 70%;
		}
	script.
		preLImg(
			'//cekvenich.site44.com/post/seo/soc.jpg'
		)
	.mui-container-fluid
		include story1.html

block footer
	include  ../../_part/_footer
