extends  ../../_part/_baseShellS

block head
	include ../../_part/_headerS

block top
	include ../../_part/_topS

block main
	.mui-container-fluid
		include story1.html

		style.
			.wall {
				display: flex;
				flex-wrap: wrap;
			}

		.wall
			x-vid#rmpArc(bitrate1='//cdn-484996.c.cdn77.org/asites/arc.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')
			x-vid#rmpLab(bitrate1='//cdn-484996.c.cdn77.org/asites/lab.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')
			x-vid#rmpChair(bitrate1='//cdn-484996.c.cdn77.org/asites/chair.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')
			x-vid#rmpTravel(bitrate1='//cdn-484996.c.cdn77.org/asites/travel.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')
			x-vid#rmpShi(bitrate1='//cdn-484996.c.cdn77.org/asites/shi.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')
			x-vid#rmpTweet(bitrate1='//cdn-484996.c.cdn77.org/asites/tweet.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')
			x-vid#rmpChild(bitrate1='//cdn-484996.c.cdn77.org/asites/child.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')
			x-vid#rmpVw2(bitrate1='//cdn-484996.c.cdn77.org/asites/vw2.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')
			x-vid#rmpPress(bitrate1='//cdn-484996.c.cdn77.org/asites/press.mp4', poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')
		br#d

	script.
		function init() {
				$( '#d' ).load('/_compHost/x-vid.html', function() {
				console.log('loaded comp')
			})
		}
		if(_loaded) init()
		else {
			_act.addOnce(function(arg1, arg2) {
				init()
				return false
			})
		}
block footer
	include ../../_part/_footerS