extends  ../../_part/_baseShellS

block head
	include ../../_part/_headerS

block top
	include ../../_part/_topS

block main
	.mui-container-fluid
		include story1.html

		style.
			.wall {
				display: flex;
				flex-wrap: wrap;
			}

		.wall
			x-vid#rmpArc(data-id='rmpArc', data-bitrate1='//cdn-484996.c.cdn77.org/asites/arc.mp4', data-poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

			x-vid#rmpLab(data-id='rmpLab', data-bitrate1='//cdn-484996.c.cdn77.org/asites/lab.mp4', data-poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

			x-vid#rmpChair(data-id='rmpChair', data-bitrate1='//cdn-484996.c.cdn77.org/asites/chair.mp4', data-poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

			x-vid#rmpTravel(data-id='rmpTravel', data-bitrate1='//cdn-484996.c.cdn77.org/asites/travel.mp4', data-poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

			x-vid#rmpShi(data-id='rmpShi', data-bitrate1='//cdn-484996.c.cdn77.org/asites/shi.mp4', data-poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

			x-vid#rmpTweet(data-id='rmpTweet', data-bitrate1='//cdn-484996.c.cdn77.org/asites/tweet.mp4', data-poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

			x-vid#rmpChild(data-id='rmpChild', data-bitrate1='//cdn-484996.c.cdn77.org/asites/child.mp4', data-poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

			x-vid#rmpVw2(data-id='rmpVw2', data-bitrate1='//cdn-484996.c.cdn77.org/asites/vw2.mp4', data-poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

			x-vid#rmpPress(data-id='rmpPress', data-bitrate1='//cdn-484996.c.cdn77.org/asites/press.mp4', data-poster='//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg')

	
	script(type='riot/tag', src='/_compHost/x-vid.html')
	script.

		function init() {
			var comps = riot.mount('x-vid')
		}//()
		
		A.onLoaded(init)


block footer
	include ../../_part/_footerS