extends  ../../_part/_baseShellA

block head
	include ../../_part/_headerA

block main
	.mui-container-fluid
		include story1.html
		hr
		include story2.html

block footer
	include ../../_part/_footerA
