extends  ../../_part/_baseShell

block head
	include ../../_part/_header

block main
	.mui-container-fluid
		h3 These are some nice looking web-apps that I found

		style.
			.wall {
				display: flex;
				flex-wrap: wrap;
			}
			x-vid {
				height: 250px;
				width: 360px;
				border: .1px solid white;
				overflow: hidden;
			}
		.wall
			x-vid(src='//cdn-484996.c.cdn77.org/asites/arc.mp4')

			x-vid(src='//cdn-484996.c.cdn77.org/asites/lab.mp4')

			x-vid(src='//cdn-484996.c.cdn77.org/asites/chair.mp4')

			x-vid(src='//cdn-484996.c.cdn77.org/asites/travel.mp4')

			x-vid(src='//cdn-484996.c.cdn77.org/asites/shi.mp4')

			x-vid(src='//cdn-484996.c.cdn77.org/asites/tweet.mp4')

			x-vid(src='//cdn-484996.c.cdn77.org/asites/child.mp4')

			x-vid(src='//cdn-484996.c.cdn77.org/asites/vw2.mp4')

			x-vid(src='//cdn-484996.c.cdn77.org/asites/press.mp4')

	hr
	.mui-container-fluid
		a.muut(href='https://muut.com/i/masons/comments', type='dynamic') Comments

	script(src='//cdn.muut.com/1/moot.min.js')

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			console.log('x')
			TS.loadComp($('#comps'),'/_webComp/x-vid.html', UIComp1Init)
		}

		function UIComp1Init() {
			console.log('.')
			var xx = TW.cReg ('x-vid', VidEl)
			//console.log(xx)
		}

block footer
	include ../../_part/_footer

