extends  ../../_part/_baseShellS

block head
	include ../../_part/_headerS

block top
	include ../../_part/_topS

block main
	.mui-container-fluid

		home-card(data-ref='/post/app-shell/', data-img='/post/SPA/shell.png', data-headline='App-Shell')

		home-card(data-ref='/post/asites/', data-img='/post/asites/arc.jpg', data-headline='Sites I like')

		home-card(data-ref='/post/comp/', data-img='/post/comp/web-comp.png', data-headline='Web Components')

		home-card(data-ref='/post/dBind/', data-img='/post/dBind/layout.png', data-headline='Data Binding a List')

		home-card(data-ref='/post/mserv/', data-img='/post/mserv/rest_test.png', data-headline='Fetch a micro service')

		home-card(data-ref='/post/IDE/', data-img='/post/IDE/DaaS.png', data-headline='IDE')

		home-card(data-ref='/post/seo/', data-img='/post/seo/setup.png', data-headline='SEO')

		home-card(data-ref='/post/SPA/', data-img='/post/SPA/SPA.png', data-headline='SPA')

		home-card(data-ref='/post/useAd/', data-img='/post/useAd/chick.png', data-headline='Ad')

		home-card(data-ref='/post/vwall/', data-img='/post/vwall/players.png', data-headline='Video Wall')

		home-card(data-ref='/post/amp/', data-img='/post/amp/amp.jpg', data-headline='AMP')

	p#dd
	script.
		function init() {
				$( '#dd' ).load('/_compHost/home-card.html', function() {
				console.log('loaded comp')
			})
		}
		if(_loaded) init()
		else {
			_stateA.addOnce(function(arg1, arg2) {
				init()
				return false
			})
		}

block footer
	include ../../_part/_footerS
