doctype html
html
	head
		block head

	body
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Noto+Sans',  rel='stylesheet')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Noto+Serif')

		#ss1
			include _top

			#content-wrapper

				block main

			block footer