template#x-vid

	script.
		customElements.define('x-vid', class extends HTMLElement {

			//get bla() { return 'a'}
			//set bla(val) { console.log(val) }

			connectedCallback() { 
				//console.log(this._compRoot)

				var nam = this.getAttribute('data-nam')
				console.log(nam)
				
				this.addEventListener('click', function() {
					console.log('clicked')
				})
			}//()
			//disconnectedCallback() {console.log('disco') }//()

			constructor() {
				super() // always call super first
				//console.log('ctor')

				//boiler plate:
				this._compRoot = this.attachShadow({mode: 'open'})
				var t = document.querySelector('#x-vid')
				var instance = t.content.cloneNode(true)
				this._compRoot.appendChild(instance)
			}//()
		})//



		// First we specify bitrates to feed to the player
		var bitrates = {
			mp4: [
			'//cdn.rawgit.com/cekvenich/what/master/asites/arc.mp4'
		]}
		// Then we set our player settings
		var vsettings = {
			initialVolume: 0,
			muted: true,
			width: 360,
			height: 250,
			scaleMode: 'stretch',
			posterScaleMode: 'stretch',
			bitrates: bitrates,
			poster: '//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg',
			autoplay: true,
			mutedAutoplayOnMobile: true,
			delayToFade: 1000,
			loop: true,
		}

		this.on('mount', function(){
			vidInit(this.opts)
		})

		this.foo = function() {
			console.log(opts)
		}

		var players = {}

		function vidInit(tag) {
			// Reference to the wrapper div (unique id)
			//console.log(JSON.stringify(tag))
			vsettings.poster = tag.poster
			bitrates.mp4[0] = tag.bitrate1
			var ei = tag.id
			console.log(ei)
			var rmp = new RadiantMP(ei)
			players[ei] = rmp
			rmp.init(vsettings)
		}
