template#x-vid

script.

	customElements.define('x-vid', class extends HTMLElement {

		connectedCallback() { 
			var bitrates = {
				mp4: [
				''
			]}

			var vsettings = {
				initialVolume: 0,
				muted: true,
				permanentMuted: true,
				width: 360,
				height: 250,
				scaleMode: 'stretch',
				posterScaleMode: 'stretch',
				bitrates: bitrates,
				poster: '//www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg',
				autoplay: true,
				mutedAutoplayOnMobile: true,
				delayToFade: 1000,
				loop: true
			}

			var bitrate1 = this.getAttribute('data-bitrate1')
			bitrates.mp4[0] = bitrate1
			//console.log(bitrates)
			var ei = this.getAttribute('data-id')
			console.log(ei)
			var poster = this.getAttribute('data-poster')
			//console.log(vsettings)

			this._rmp = new RadiantMP(ei)
			this._rmp.init(vsettings)

			//console.log(this._compRoot)

		}//()

		disconnectedCallback() {console.log('disco') }//()

		constructor() {
			super() // always call super first
			//console.log('ctor')
		}//()

	//var _compA = new signals.Signal()

	})//






