template#xx-vid
	style.

	video#v1(src='//cdn-484996.c.cdn77.org/asites/lab.mp4', autoplay, loop, muted, width= 360, height=250)

script.

	class VidEl extends HTMLElement {
		constructor() {
			super()
			this._shadowRoot = this.attachShadow({mode: 'open'})
			const t = document.querySelector('#xx-vid')// add the dom above
			const instance = t.content.cloneNode(true)
			this._shadowRoot.appendChild(instance)
		}//()
		attributeChangedCallback(attrName, oldValue, newVal) {
			this[attrName] = newVal
		}
		static get observedAttributes() {
			return ['src']
		}

		connectedCallback() {
			//const d = this.shadowRoot.querySelector('v1', this)//ctx

			$('#v1', this).mediaelementplayer({
				 features: ['fullscreen']
				,controlsTimeoutDefault: 100
				,success: function(ply, originalNode) {
					ply.setCurrentTime(10.0)
					console.log('ok', ply.getCurrentTime ()	)
				}
			})

		}//()

		_kill() {
			var ply = $('#rmpLab')[0]
			if (!ply.paused) {
					ply.pause();	
			}
			ply.remove()
		}//()
	}//class
