template#x-vid
	style.

	#dhome-card.homeCard

script#shome-card(type='text/x-dot-template').
	<a href='{{=it.ref}}')> 
		<div class='hc--img' style='background-image:url({{=it.img }})'></div>
		<div class='hc--headline'>{{=it.headline}}</div>
	</a>

script.
	class VidEl extends HTMLElement {
		constructor() {
			super()
			console.log('v2')
			this._shadowRoot = this.attachShadow({mode: 'open'})
			const t = document.querySelector('#x-vid')// add the dom above
			const instance = t.content.cloneNode(true)
			this._shadowRoot.appendChild(instance)

		}//()

		static get observedAttributes() {
			return ['headline', 'ref', 'img']
		}

		attributeChangedCallback(attrName, oldValue, newVal) {
			this[attrName] = newVal
		}

		connectedCallback() {
			var tpl1 = document.getElementById('shome-card').text
			var tpl1Foo = doT.template(tpl1)
			var data = {'ref': this.ref, 'headline': this.headline, 'img': this.img}
			var res = tpl1Foo(data)
			//console.log(res)
			const d = this.shadowRoot.querySelector('#dhome-card', this)//ctx
			d.innerHTML=res
		}

	}//class
	