
extends  ../../_part/_shellA-base
block head

block content
	script.
		preLImg(
			'//cekvenich.site44.com/post/vwall/players.png'
		)
	.mui-container-fluid
		include story1.html

	style.
		img {
			width: 99%;
		}

block footer
	include  ../../_part/_footer
