footer
	p
	.mui-container-fluid
		.mui-panel
			.mui-container-fluid
				.mui-row
					.mui-col-md-4
						a(href='https://gitter.im/what-community/Lobby') Forum 
					.mui-col-md-4
					.mui-col-md-4
						a(href='https://github.com/struts3/what-demos') Site tech

				
	script(type='text/javascript').
		loadjs('/_js/main.js')
	
	link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
	link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')

	script(type='text/javascript').
		var sc_project=11206272;
		var sc_invisible=1;
		var sc_security="420de42f";
	script(type='text/javascript').
		loadjs('//secure.statcounter.com/counter/counter.js')
	
	script(type='text/javascript').
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-82096733-1', 'auto');
		ga('send', 'pageview');
