footer
	p
	.mui-container-fluid
		.mui-panel
			.mui-container-fluid
				.mui-row
					.mui-col-md-4
						a(href='https://gitter.im/what-community/Lobby') Forum 
					.mui-col-md-4
					.mui-col-md-4
						a(href='https://github.com/struts3/what-demos') Site tech

				
	script(type='text/javascript').
		loadjs('/_js/main.js')
	
	link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
	link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')

	script(type='text/javascript').
		var sc_project=11206272;
		var sc_invisible=1;
		var sc_security="420de42f";
		var scJsHost = (("https:" == document.location.protocol) ?
		"https://secure." : "http://www.");
		document.write("<sc"+"ript type='text/javascript' src='" +
			scJsHost+
			"statcounter.com/counter/counter.js'></"+"script>");
