footer
	p
	.mui-container-fluid
		.mui-panel
			.mui-container-fluid
				.mui-row
					.mui-col-md-4
						a(href='https://gitter.im/what-community/Lobby') Forum 
					.mui-col-md-4
					.mui-col-md-4
						a(href='https://github.com/struts3/what-demos') Site tech

				
	script.
		loadjs('/_js/main.js')
	
	link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
	link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')

