
extends  ../../_part/_shellA-base
block head
	//page rank
	meta(name='twitter:card', content='summary')
	meta(name='twitter:url', content='@puppetMaster3')
	meta(name='twitter:title', content='Best Practices Advanced Web-Dev Training')
	meta(name='twitter:description', content='Masons-FoundationBest Practices Advanced Web-Dev Training')
	meta(name='twitter:image', content='https://www.masons-foundation.org/post/best/arc.jpg')

block content
	style.
		img {
			width: 80%;
		}
		#css img {
			width: 50%;
		}
	#best
		#best--hero
			p
			.mui-container-fluid.mui--text-center
				.mui--text-display2 Best Practices Advanced Web-Dev Training
				.mui--text-display1 Learn best pratices via instructor lead labs

				button(onclick="location.href='http://eventbrite.com/e/online-class-best-practices-advanced-interaction-design-web-app-development-via-hands-on-labs-tickets-29630079365'").mui-btn.mui-btn--raised.mui-btn--primary Sign Up

				.mui--text-headline Or ask about onsite private class.
				.upcoming

			p
		.mui-container-fluid
			p
			p An example of a great web-app:
			.mui--text-center
				img(src='arc.jpg')

			p
			.reviews

			.mui-panel
				.mui--text-headline What you'll learn:
				.mui-row
					.mui-col.html-1
					.mui-col.html-5
						div
							include part1.html
					.mui-col.html-4
						div
							include part2.html

			p You'll also learn how solve CSS related issues:
			#css.mui--text-center
				img(src='/post/best/css.gif')

			.prerequisites
				.mui--text-headline Prerequisites
				include pre.html
			.about
				.mui--text-headline About us
				include about.html

block footer
	include  ../../_part/_footer
