extends  ../../_part/_baseShell
block head
	include ../../_part/_header

block main
	.mui-container-fluid
		include one.html

	script.
		function init() {
		}

		A.onLoaded(init)

block footer
	include ../../_part/_footer