
extends card-ratings-base.pug

block e_src
	script.
		var _compR1 = Object.create(HTMLElement.prototype)
		var _compR2 = Object.create(HTMLElement.prototype)

		regCompClass(_compR1, 'card-rating1')
		regCompClass(_compR2, 'card-rating2')
