#appbar
	a(href='#sidedrawer')#appbar--brand &nbsp; ☰ &nbsp;
		span.mui--hidden-xs M-Foundation.org
	#appbar--push
	ul#appbar--menu.mui-list--inline
		li
			a(href='/home/feed/') Home
		li
			a(href='/home/fts/') Search

#sidedrawer.mui--z1
	a(href='#')#sidedrawer--brand &nbsp; ☰ &nbsp;
		span M-Foundation.org
	.mui-divider
	ul#sidedrawer--menu.mui-list--unstyled
		li
			a(href='/home/feed/') Home
		li
			a(href='/home/fts/') Search