
nav#appbar.mui-container-fluid.mui--no-user-select
	table(width='100%')
		tr
			td
				#brand ☰ &nbsp;
			td.mui--text-right
				span bP CMS &nbsp;

#sidedrawer
	nav#sidenav.mui--no-user-select
		h2
			#sidedrawer-brand.mui--text-title ☰ &nbsp; bP CMS
		.mui-divider
		ul.mui-list--unstyled#sidenavstrong
			li
				a(href='/post/one/') Site
			li
				a(href='/post/two/?w=1') Content(P)
			li
				a(href='/post/two/?w=1') Media
			li
				a(href='/post/one/') Styles
			li
				a(href='/post/one/') Layouts
			li
				a(href='/post/one/') Sections
			li
				a(href='/post/two/?w=1') Promos(C)
			li
				a(href='/post/two/?w=1') Injected(A)
			li
				a(href='/post/two/?w=1') Micro services
			li
				a(href='/post/two/?w=1') Components
			li
				a(href='/post/two/?w=1') Reports
			li
				a(href='/post/two/?w=1') Access
			li
				a(href='/post/two/?w=1') About