
extends  ../../_part/_shellA-base

block content
	style.
		#fts {
			height: 100%;
		}

	div
		p
	.mui-container-fluid
		#fts
			gcse:searchbox(newwindow='true')

			gcse:searchresults

	script.
		function init() {
			console.log('fts')
			var cx = '015406677380205718189:esv77diws9e';
			var gcse = document.createElement('script');
			gcse.type = 'text/javascript';
			gcse.async = true;
			gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(gcse, s);
		}
		if(_loaded) init()
		else {
			_act.addOnce(function(arg1, arg2) {
				init()
				return false
			})
		}


block footer
	include  ../../_part/_footer
