
extends  ../../_part/_baseShell

block head
	include  ../../_part/_headerS

block content
	.mui-container-fluid
		include _common.html
	
	script.
		var _people = [
			{ name: 'Adriana' }
			, { name: 'Robert'}
		]

		fetch('_tmpl.html', {
				method: 'get'
			}).then(function(response) { //1: promise
				//console.log(response)
				return response.text()
			}).then(function(value) { //2: your code here
				console.log(value)
				let tmpl = $.templates(value)//'<label>Name:</label> {{:name}}<br/>'
				let html2 = tmpl.render( _people )
				$('#peopleList').html(html2)
			}).catch(function(err) {
				console.log('error')
				console.log(err)
			})//fetch()

block footer
	include   ../../_part/_footerS
	