extends  ../../_part/_baseShell

block head
	include ../../_part/_header

block main
	.mui-container-fluid
		include story1.html
		hr
		include story2.html

	script.
		ST.onAppReady(UIinit)
		function UIinit() {
			console.log('x')
		}


block footer
	include ../../_part/_footer
