extends  ../../_part/_baseShell
block head
	include ../../_part/_header

block main
	.mui-container-fluid
		include story1.html

		iframe#ad1(  width='300', height='250',  style='border: 0; overflow: hidden; background-color: gray;' )

		script.
			var ad = document.getElementById('ad1')
			ad.setAttribute('src', 'https://1595566120.rsc.cdn77.org/ads/carolla/')

		include story2.html


block footer
	include  ../../_part/_footer
