#footer
	#footer_div
		a(href='https://gitter.im/topseed-demos/Lobby', target='_blank') Forum 

		#footer_div--push

		#footer_div--right
			a(href='https://github.com/topseed/topseed-demos', target='_blank') Kitchen Sink

	link(rel='prefetch',  href='https://cse.google.com/cse.js?cx=015406677380205718189:esv77diws9e')
	link(rel='prerender', href='https://www.masons-foundation.org/home/fts/')

	script(type='text/javascript').
		var sc_project=11206272;
		var sc_invisible=1;
		var sc_security="420de42f";
		loadjs(['//statcounter.com/counter/counter.js'])
