include _head
	block head

body
	script(type='text/javascript').
		document.body.style.opacity = '0.5'
		
	#ss1
		nav#appbar.mui-container-fluid.mui--no-user-select
			table(width='100%')
				tr
					td
						#brand ☰ &nbsp;
							span Massons-Foundation.org
					td.mui--text-right
						ul#menu.mui-list--inline
							li
								a(href='/train/react2Polymer/') Home
							li
								a(href='/train/schedule/') Schedule
							li
								a(href='/home/feed/') Feed
							li
								a(href='/home/fts/') Search
						&nbsp;

		#sidedrawer
			nav#sidenav.mui--no-user-select
				h2
					#sidedrawer-brand.mui--text-title ☰ &nbsp; Massons
				.mui-divider
				ul.mui-list--unstyled#sidenavstrong
					li
						a(href='/train/react2Polymer/') Home
					li
						a(href='/train/schedule/') Schedule
					li
						a(href='/home/feed/') Feed
					li
						a(href='/home/fts/') Search

		//#content-wrapper0
		#content-wrapper
			block content

	block footer
