nav#appbar.mui-container-fluid.mui--no-user-select
	table(width='100%')
		tr
			td
				#brand &nbsp;
					span Massons-Foundation.org
			td.mui--text-right
				ul#menu.mui-list--inline
					li
						a(href='https://www.masons-foundation.org/home/home/') Home
					li
						a(href='https://www.masons-foundation.org/home/home/fts/') Search

