extends  ../parts/_baseShellS

block head
	include ../parts/_headerS

block top
	include ../parts/_topS

block main
	.mui-container-fluid
		p
			br
		.mui-row
			.mui-col-sm-6
				p Oh hi

			.mui-col-sm-6
				.mui-panel
					form.mui-form#frm1
						legend Signup/Log-in
						.mui-textfield
							input(type='text', name='data.email')
							label Email
						.mui-textfield
							input(type='password', name='data.password')
							label Password
					button.mui-btn.mui-btn--raised(type='submit')#signUp New/Signup
					button.mui-btn.mui-btn--raised(type='submit')#login Log-in
					#msg1 This email is already registered

	script.
		function init() {
			console.log('init')
			$('#frm1').jsForm()
			
			$('#signUp').click(function(e) { 
				e.preventDefault()
				const dat = $('#frm1').jsForm('get')

				X.fetch(ROOT, 'RM/signUp', dat)
					.then(function(value) { // 3:
						//	XBASIC, XJT 
						console.log('back')
						//console.log(JSON.stringify(value))
						console.log(dat.email)
						X.writeC(X.XBASIC, dat)
						Cookies.set('email', dat.email)

						//smoothState.load('ValidateCode.html')
						window.location.href='ValidateCode.html'

				}).catch(function(err) { //error
					console.error('err')
					console.error(err)

				})//fetch()
			})//signUp

			$('#login').click(function(e) { // al1006@gore
				e.preventDefault()
				const dat = $('#frm1').jsForm('get')
				console.log('login')
				X.writeC(X.XBASIC, dat)
				console.log(dat)
				X.fetch(ROOT, 'RM/login', dat)
					.then(function(value) { // 3:
						//	XBASIC, XJT 
						console.log('back')

						window.location.href='Memb.html'
						//smoothState.load('Memb.html')

				}).catch(function(err) { //error
					console.error('err')
					console.error(err)
				})//fetch()
			})//login


		}//init

		onAppReady(init)

block footer
	include ../parts/_footerS
