
extends  ../../_part/_shellA-base
block head

block content

	.mui-container-fluid
		include story1.html

	style.
		img {
			width: 99%;
		}

	script.
		preLImg(
			'/post/vwall/players.png'
		)
block footer
	include  ../../_part/_footer
